<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775108984985-7nobv5h4krjbff48emhpdslsshclgcsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775108984985-7nobv5h4krjbff48emhpdslsshclgcsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCSzQqtLdc8BrOpcopSpdf5u7z6_qYVpE8</string>
	<key>GCM_SENDER_ID</key>
	<string>775108984985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ork.DressApp</string>
	<key>PROJECT_ID</key>
	<string>dressapp-188a1</string>
	<key>STORAGE_BUCKET</key>
	<string>dressapp-188a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775108984985:ios:67e99771a5a7046818b808</string>
</dict>
</plist>